/* RoleForm.css */
/* body{
    padding-top: 130px;
} */

.role-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .role-form-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .role-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .role-form-container label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .role-form-container input[type="text"],
  .role-form-container textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px); /* Adjusted width for input elements */
  }
  
  .role-form-container textarea {
    min-height: 100px;
  }
  
  .role-form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .role-form-container button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    .role-form-container {
      max-width: 10%;
    }
  }
